@import "lenis/dist/lenis.css";
@import "tailwindcss";

body {
  background-color: #000;
}

/* Width */
::-webkit-scrollbar {
  width: 3px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #444;
}

.cast-list::-webkit-scrollbar {
    height: 3px;
}

.cast-list::-webkit-scrollbar-thumb {
    background: #78716c;
}

.cast-list::-webkit-scrollbar-track {
    background: transparent;
}

.marquee-container {
  overflow: hidden;
}

.marquee {
  display: flex;
  width: max-content;
  gap: 2rem;
}

.marquee span {
  white-space: nowrap;
}

.group:hover .marquee {
  animation: scroll 6s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 1rem));
  }
}

.marquee-container-two {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-two {
  display: inline-flex;
  width: max-content;
  animation: none;
}

.group:hover .marquee-two {
  animation: marquee 8s linear infinite;
}

.marquee-two span {
  flex-shrink: 0;
  padding-right: 3rem; /* Gap between the two copies */
}

.group:hover .marquee-two span {
  color: white;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 1.5rem));
  }
}
